*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(annapurnahotel.jpg);
    background-position: center;
}
#form{
    background-color: #000;
    height: 810px;
    width: 800px;
    margin: auto;
    margin-top:150px;
    opacity: 0.9;
}
n.fa.fa-user::before{
color: red;
}
n.fa.fa-map-marker::before{
color: red;
}
n.fa.fa-flag::before{
color: red;
margin-right:5000px;
}
n.fa.fa-globe::before{
color: red;
}
n.fa.fa-phone::before{
color: red;
}
n.fa.fa-calendar::before{
color: red;
}
n.fa.fa-calendar::before{
color: red;
}
n.fa.fa-users::before{
color: red;
}
div.nice-select{
border: 2px solid wheat;
margin: -30px;
margin-left: 20px;
padding: 5px;
}
#bookform{
    border: 2px solid wheat;
    margin: 20px;
    margin-left: 8px;
    padding: 5px;
}

#ci{
    border: 0.5px solid wheat;
    margin: 20px;
    margin-left: 8px;
    padding: 5px;
    color: #fff;
}
#bookform #input{
    border:none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    width: 700px;
    color: white;
}
::placeholder{
    color:white
}
