{% extends 'base.html' %}

{% block content %}
{% load static %}
<!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand logo_h" href="../"><img src="{% static 'image/logo1.jpg' %}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
                            <li class="nav-item active"><a class="nav-link" href="">Accommodation</a></li>
                            <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="../help.html">Help</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="invertColor()" title="Invert Color for color blindness"><i class="fa fa-adjust"></i> Invert Color</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="changeFont('decrease')" title="Decrease Font Size">A- </a></li>
                            <li class="nav-item"><a class="nav-link" onclick="changeFont('original')" title="Original Font Size">A  </a></li>
                            <li class="nav-item"><a class="nav-link" onclick="changeFont('increase')" title="Increase Font Size">A+ </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->

        <!--================ Accommodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Hotel Accommodation</h2>
                    <p>Enjoy our luxurious rooms, right on the heart of Kathmandu </p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'image/room1.jpg' %}" alt="">
                                <a href="../form.html"  onclick="cargo('Standard Room'); addform()"class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="../form.html"  onclick="cargo('Standard Room')"><h4 class="sec_h4">Standard Room</h4></a>
                            <h5>$250<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'image/room2.jpg' %}" alt="">
                                <a href="../form.html" onclick="cargo('Deluxe Room')"class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="../form.html"  onclick="cargo('Deluxe Room')"><h4 class="sec_h4">Deluxe Room</h4></a>
                            <h5>$300<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'image/room3.jpg' %}" alt="">
                                <a href="../form.html" onclick="cargo('Club Rooms')" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="../form.html" onclick="cargo('Club Rooms')"><h4 class="sec_h4">Club Rooms</h4></a>
                            <h5>$550<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'image/room4.jpg' %}" alt="">
                                <a href="../form.html" onclick="cargo('Suites')" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="../form.html" onclick="cargo('Suites')"><h4 class="sec_h4">Suites</h4></a>
                            <h5>$700<small>/night</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Accommodation Area  =================-->
{% endblock %}