{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'image/Logo1.jpg' %}" type="image/png">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"
    />
    <title>Hotel Annapurna</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}

{% endblock %}
<!--================ start footer Area  =================-->
<div class="footer">
    <div class="footer-content">
        <div class="footer-section more">
            <h1 class="More">Keep in touch</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                tenetur nostrum tempora ex cupiditate consequuntur officia maxime ut
                sapiente aut, dolore, quis aperiam quae, minima quam dolorum nemo
                obcaecati blanditiis.
            </p>
            <div class="more-contact">
                <span><i class="fas fa-phone"></i> xxx-xxx-xxxx</span>
                <span
                ><i class="fas fa-envelope"></i>
              L5CG10 - Group1
            </span>
            </div>
            <div class="social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
                <a href="#"><i class="fab fa-viber"></i></a>
            </div>
        </div>
        <div class="footer-section links"></div>
        <div class="footer-section feedback">
            <h1>Send an E-mail</h1>
            <br/>
            <form action="main.html" method="post">
                <input
                        type="email"
                        name="email"
                        class="text-input name-input"
                        placeholder="Enter your Email"
                        required
                /><br/>
                <input
                        type="Name"
                        name="Name"
                        class="text-input name-input"
                        placeholder="Enter your Full name"
                        required
                /><br/>
                <input
                        type="number"
                        name="number"
                        class="text-input name-input"
                        placeholder="Enter your Phone number"
                        required
                /><br/>
                <textarea
                        name="message"
                        class="text-input feedback-input"
                        placeholder="How are you feeling??"
                        row="4"
                        required
                ></textarea
                ><br/>
                <button type="submit" class="btn">
                    <i class="fas fa-envelope"></i>
                    Send
                </button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; Annapurna Hotel.com | Designed by L5CG10 - Group1
    </div>
</div>
<!--================ End footer Area  =================-->
<script src="{% static 'js/range.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'js/stellar.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
