{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="jumbotron text-center">
    <h1 class="display-3">Cancellation sucessful!</h1>
    <h3>Sorry for your inconvinace</h3>
    <h4>Order no: a1b2c3d4e5</h4>
    <p class="lead"><strong>Please check your email</strong> for further details about your Cancellation</p>
    <hr>
    <p>
      Having trouble? <a href="../contact.html">Contact us</a>
    </p>
    <p class="lead">
        <a href="../" class="btn theme_btn button_hover">Continue to Home page</a>
    </p>
  </div>
  {% endblock %}