{% extends 'base.html' %}

{% block content %}
{% load static %}
<!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand logo_h" href="../"><img src="{% static 'image/Logo1.jpg' %} " alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../accommodation.html">Vehicles</a></li>
                            <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            <li class="nav-item active"><a class="nav-link" href="">Help</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
<!-----------------------------------------------------------Help start----------------------------------------------------------------->
 <div class = "container-fluid">
     <h2>Frequently Asked Questions(FAQs)</h2>
     <div class = "accordion">
         <div class = "icon"></div>
         <h5>What is the most popular type of rental car in Nepal?<is class=""></is></h5>
     </div>
     <div class = "panel">
         <p>
            The most popular type is a Compact. An estimated 30% of our users chose a Compact in the past 30 days and paid on average Rs.5000 per day for their rental. Keep in mind that you are more than welcome to select a different type of rental car based on your budget, your planned activities, and the weather.
        </p>
     </div>
     <div class = "accordion">
        <div class = "icon">
        </div>
        <h5>Do you provide Drivers?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            We provide driver on request. Extra Rs.200 is chaged per day as driver's fee.
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon"></div>
        <h5>What is your cancellation policy?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            We understand our costumer's problem, cancellation is possible within 12 hours of booking and refund is provied. Alought if the reason is genune you can cancel ride at any given time.
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon"></div>
        <h5>Can I book one-way car rental<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            Yes. One-way car rental deals are quite common, as they give people even more freedom to explore and enjoy their rental.We dont charge a One Way Fee (or ‘drop charge’) to cover the cost of returning the car to its original location. 
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon">
        </div>
        <h5>What is the drinking and driving limit in Nepal?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            0.00% is the maximum Blood Alcohol Concentration you can have to legally drive a car in Nepal. Both residents and visitors of Nepal can face legal penalties for having a BAC higher than this amount. Keep in mind that you must also be at least 18 years of age to consume alcoholic beverages, and it is not recommended to operate a motor vehicle under the influence.
        </p>
    </div>
 </div>
<!-----------------------------------------------------------Help END----------------------------------------------------------------->
{% endblock %}