{% extends 'base.html' %}

{% block content %}
{% load static %}
<!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand logo_h" href="../"><img src="{% static 'image/Logo1.jpg' %} " alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../accommodation.html">Accommodation</a></li>
                            <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            <li class="nav-item active"><a class="nav-link" href="">Help</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="invertColor()" title="Invert Color for color blindness"><i class="fa fa-adjust"></i> Invert Color</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="changeFont('decrease')" title="Decrease Font Size">A- </a></li>
                            <li class="nav-item"><a class="nav-link" onclick="changeFont('original')" title="Original Font Size">A  </a></li>
                            <li class="nav-item"><a class="nav-link" onclick="changeFont('increase')" title="Increase Font Size">A+ </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
<!-----------------------------------------------------------Help start----------------------------------------------------------------->
 <div class = "container-fluid">
    <ul class="breadcrumb" id= "conCrumb">
        <li class="completed">
          <a href="../">
            Home
          </a>
        </li>
        <li id= "active">
          <a href="">
            Help --->   
          </a>
        </li>
      </ul>
     <h2>Frequently Asked Questions(FAQs)</h2>
     <div class = "accordion">
         <div class = "icon"></div>
         <h5>What is the Check-in and Check-out time?<is class=""></is></h5>
     </div>
     <div class = "panel">
         <p>
            Generally hotel rooms are available from 3pm and apartments from 5pm. Check-out is generally at 11am. Afterwards the rooms have to get cleaned for the upcoming arrivals.
        </p>
     </div>
     <div class = "accordion">
        <div class = "icon">
        </div>
        <h5>Is parking available at the hotel?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            All Annapurna Hotels have sufficient parking spaces. Most hotel also have a garage (partly with costs), where your car can safely be stored overnight. Sometimes, there are also parking spaces free of charge at or around the hotel. 
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon"></div>
        <h5>Can I bring my pet<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            In almost every Annapurna Hotel & Resort pets are welcome. Depending on the hotel, there is a fee of RS.100-300. Please note that for hygienic reasons pets are usually not allowed in the gastronomic and spa areas.
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon"></div>
        <h5>Can I reserve a table in a restaurant?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            Yes, with our table order form you can make a non-binding table reservation for your desired restaurant. 
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon">
        </div>
        <h5>Do you offer non-smoking rooms?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            All hotels offer non-smoking rooms. In some hotels every room is non-smoking. A few hotels are even completely smoke-free properties.
        </p>
    </div>
    <div class = "accordion">
        <div class = "icon">
        </div>
        <h5>Which size are the rooms?<is class=""></is></h5>
    </div>
    <div class = "panel">
        <p>
            The sizes of the rooms vary from Rooms to Rooms. Also within a hotel they vary between each category. The standard rooms start with a size of approx. 15m².
        </p>
    </div>
 </div>
<!-----------------------------------------------------------Help END----------------------------------------------------------------->
{% endblock %}